{%extends 'base.html' %}

{% block navbar %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-user menu-icon"></i>
        <span class="menu-title">Student Profile</span>
      </a>
    </li>     
  </ul>
</nav>
{% endblock %}

{% block content %}

<div class="content-wrapper" style="background-color: #EBEBEC;">
    <div class="card text-bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">Account Suspended</h5>
          <p class="card-text">Your account is currently suspended. Contact admin for more information.</p>
        </div>
    <div>
</div>
{%endblock%}