{% extends 'base.html' %}

{% block navbar %}
    
    {% include 'nav_bar.html' %}

{% endblock %}

{% block content %}


<div class="content-wrapper" style="background-color: #EBEBEC;">

    <h2>My Profile</h2>

    <h3 class="mt-5">Bio Data: </h3>
    <br>

            <div>
                    <p><strong>Name:</strong> {{ student.get_full_name }}<p>
                    {% if student.picture %}
                    <img src="{{ student.picture.url }}" alt="Student Picture">
                    {% else %}
                    <p>No picture available.</p>
                    {% endif %}
                    <p><strong>Gender:</strong> {{ student.gender }}<p>
                    <p><strong>Cohort:</strong> {{ student.cohort }}<p>
                    <p><strong>Track:</strong> {{ student.track }}<p>
                    <p><strong>Is_verified:</strong> {{ student.is_verified |yesno|title }}<p>
                    <p><strong>Is_suspended:</strong> {{ student.is_suspended |yesno|title }}<p>

            </div>

    <a class="btn btn-primary mt-4 mb-4" href="{% url 'student:profile_update' %}">Update Profile Picture</a>
    
    
</div>
{% endblock %}