<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        {% for subtopic in student_subtopics %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'student:student_subtopic_detail' student_course_slug=student_course.slug student_topic_slug=student_topic.slug student_subtopic_id=subtopic.id %}">
                    <i class="fas fa-user-clock menu-icon"></i>
                    <span class="menu-title">{{ subtopic.slug }} {% if subtopic.progress_level == 100 %}<span class="checkmark">&#10003;</span>{% endif %}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
