{% extends 'base.html' %}

{% block navbar %}
        {% include 'tutor/tutor_nav_bar.html' %}
{% endblock %} 

{% block content %}

<div class="content-wrapper" style="background-color: #EBEBEC">

    <div class="row mb-2">
        <div class="col-md-10 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    {% comment %} <div class="col-12"> {% endcomment %}
                        {% comment %} <div class="col-12"> {% endcomment %}
                            <h3>{{ course.title }}</h2>
                            <p><strong>Course Description: </strong>{{ course.description }}</p>
                            <p><strong>Created at:</strong> {{ course.created_at }} </p>
                            <p><strong>Last Updated:</strong> {{ course.updated_at }} </p>

                            <div class="mt-3">
                                <a class="btn btn-info btn-sm" href="{% url 'course:update_course' course.slug %}">Update Course</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'course:delete_course' course.slug %}">Delete Course</a>
                            </div>
                        {% comment %} </div> {% endcomment %}
                    {% comment %} </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>


    
    <div class="row">
        <div class="col-md-10 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div>
                        <a class="btn btn-success btn-sm mb-4 mt-1" href="{% url 'course:create_topic' course.slug %}">Create New Topics</a>
                    </div>
                    <p class="card-title mb-0">Topics</p> 
        
                    <div class="table-responsive">
                        <table class="table table-striped-lms table-hover">
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Title</th>
                                <th>Date Created</th>
                                <th></th>           
                            </tr>  
                            </thead>
                        
                            <tbody id="topic">
                            {% for topic in topics %}
                                <tr data-id="{{ topic.id }}">
                                    <td class="order">{{ topic.order|add:1 }}</td>
                                    <td>{{ topic.title }}</td>
                                    <td>{{ topic.created_at }}</td>
                                    <td>
                                        <a class="btn btn-info btn-sm btn-rounded" href="{% url 'course:topic_detail' topic.course.slug topic.id %}">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.13.3/html5sortable.min.js"></script>
<script>
  var options = {
    method: 'POST',
    mode: 'same-origin'
  };
  const topicOrderUrl = '{% url "course:topic_order" %}';
  var sortableElement = sortable('#topic', {
    forcePlaceholderSize: true,
    placeholderClass: 'placeholder',
  })[0];

  sortableElement.addEventListener('sortupdate', function(e) {
    var topicsOrder = {};
    var topics = document.querySelectorAll('#topic tr');
    topics.forEach(function(topic, index) {
      topicsOrder[topic.dataset.id] = index;
      topic.querySelector('.order').innerHTML = index + 1;
    });
    options['body'] = JSON.stringify(topicsOrder);
    fetch(topicOrderUrl, options)
      .then(function(response) {
        // alert('saved successfully');
      })
      .catch(function(error) {
        // alert('error occurred');
      });
  });
</script>

{% endblock %}


