{% extends 'base.html' %}

{% block navbar %}
        {% include 'tutor/tutor_nav_bar.html' %}
{% endblock %} 

{% block content %}

<div class="content-wrapper" style="background-color: #EBEBEC">
  <div class="row mb-3">
    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
      <h3>All Courses in {{request.user.tutor.track}}</h3>
    </div>
  </div>

  <div>
    <a class="btn btn-success mt-2 mb-4" href="{% url 'course:create_course' %}">Create New Course</a>
  </div>

  <div class="row">
    <div class="col-md-10 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped-lms table-hover">
              <thead>
                <tr>
                  <th>S/N</th>
                  <th>Title</th>
                  <th>Date Created</th>
                  <th></th>
                </tr>  
              </thead>
              

              <tbody>
                {% for course in courses %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td> {{ course.title}} </td>
                    <td> {{ course.created_at}}</td>
                    <td><a class="btn btn-sm btn-rounded btn-info" href="{% url 'course:course_detail' course.slug %}">View</a></td>
                  </tr>

                {% empty %}
                <tr>
                  <td colspan="4">No course on track yet.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}