{% extends 'base.html' %}


{% block navbar %}
        {% include 'tutor/tutor_nav_bar.html' %}
{% endblock %} 
{% block content %}
  <div class="module">
    <div class="content-wrapper" style="background-color: #EBEBEC">
      <h1>
        
      </h1>

      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              {% if object %}
                Edit Lesson
              {% else %}
                Add new Lesson
              {% endif %}
            </h3>
            <p class="card-description">Enter details to create a new SubTopic</p>
            <form method="POST" class="forms-sample" enctype="multipart/form-data">
              {% csrf_token %}
              {% if form.errors %}
                <div class="alert alert-danger">
                  <strong>Oops! There was an error:</strong>
                  <ul>
                    {% for field, error in form.errors.items %}
                      {% if field != NON_FIELD_ERRORS %}
                        <li>{{ field }}: {{ error }}</li>
                      {% else %}
                        <li>{{ error }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title }}
              </div>
              

              <div class="form-group">
                {{ form.details.label_tag }}
                {{ form.details }}
              </div>


              <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
              </div>

              <div class="form-group">
                {{ form.url.label_tag }}
                {{ form.url }}
              </div>

              <div class="form-group">
                {{ form.file.label_tag }}
                {{ form.file }}
              </div>

              <div class="form-group">
                {{ form.text.label_tag }}
                {{ form.text }}
              </div>

              <input class="btn btn-success mr-2" value="Submit" type="submit">
              <a href="{% url 'course:tutor_dashboard_view' %}" class="btn btn-danger">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.tiny.cloud/1/ph7ewuo3767u7091jkxnifjcdbs19hk1sm13emb0c2gfkvic/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  

{% endblock %}
