{% extends 'base.html' %}
{% load embed_video_tags %}

{% block navbar %}
  {% include 'tutor/tutor_nav_bar.html' %}
{% endblock %} 

{% block content %}
<div class="content-wrapper" style="background-color: #EBEBEC">
  <div class="row">
    <div class="col-md">
      <h3>Choose format to add new Lesson: </h3>
      <a class="btn btn-primary mt-4 mb-4" href="{% url 'course:create_subtopic' topic.course.slug topic.id 'text' %}">Text</a>
      <a class="btn btn-info mt-4 mb-4" href="{% url 'course:create_subtopic' topic.course.slug topic.id 'video' %}">Video</a>
      <a class="btn btn-danger mt-4 mb-4" href="{% url 'course:create_subtopic' topic.course.slug topic.id 'file' %}">File</a>
      <a class="btn btn-warning mt-4 mb-4" href="{% url 'course:create_subtopic' topic.course.slug topic.id 'file' %}">Image</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-0">Lessons</p>
          <div class="table-responsive">
            <table class="table table-striped-lms table-hover">
              <thead>
                <tr>
                  <th>S/N</th>
                  <th>Title</th>
                  <th>Content Type</th>
                </tr>
              </thead>
              <tbody id="subtopic">
                {% for subtopic in subtopics %}
                <tr data-id="{{ subtopic.id }}">
                  <td>Lession {{ forloop.counter }}</td>
                  <td>
                    <div data-id="{{ subtopic.id }}">{{ subtopic.item.title }}</div>
                  </td>
                  <td>
                    {% if subtopic.content_type.model == 'text' %}
                      <h5>Text</h5>
                    {% elif subtopic.content_type.model == 'file' %}
                      {% if subtopic.item.file.url %}
                        {% if subtopic.item.file.url|lower|slice:'-4:' == ".jpg" or subtopic.item.file.url|lower|slice:'-5:' == ".jpeg" or subtopic.item.file.url|lower|slice:'-4:' == ".png" %}
                          <h5>Image</h5>
                        {% else %}
                          <h5>pdf</h5>
                        {% endif %}
                      {% endif %}
                    {% elif subtopic.content_type.model == 'video' %}
                      <h5>Video</h5>
                    {% endif %}
                  </td>
                  <td>
                      <a class="btn btn-rounded btn-sm btn-info" href="{% url 'course:subtopic_detail' course_slug=topic.course.slug topic_id=topic.id model_name=subtopic.content_type.model id=subtopic.id %}">View</a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="4"> No subtopics under this topic yet </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.13.3/html5sortable.min.js"></script>
  <script>
    var options = {
      method: 'POST',
      mode: 'same-origin'
    };
    const contentOrderUrl = '{% url "course:subtopic_order" %}';
    sortable('#subtopic', {
      forcePlaceholderSize: true,
      placeholderClass: 'placeholder'
    })[0].addEventListener('sortupdate', function(e) {
      contentOrder = {};
      var contents = document.querySelectorAll('#subtopic div');
      contents.forEach(function(content, index) {
        contentOrder[content.dataset.id] = index;
      });
      options['body'] = JSON.stringify(contentOrder);
      // Send HTTP request
      fetch(contentOrderUrl, options)
        .then(function(response) {
          // alert('Saved successfully');
        })
        .catch(function(error) {
          // alert('An error occurred');
        });
    });
  </script>
</div>
{% endblock %}
