{% extends 'base.html' %}
{% load embed_video_tags %}

{% block navbar %}
  {% include 'tutor/tutor_nav_bar.html' %}
{% endblock %} 

{% block content %}

<div class="row">
  <div class="col-md">
    <h3>Subtopic Detail</h3>
    <hr>
    <h3>Topic: {{ subtopic.topic }}</h3>
    <h4>Subtopic Title: {{ subtopic.item.title }}</h4>

    {% if subtopic.content_type.model == 'text' %}
      <h5>Content Type: Text</h5>
      <p>{{ subtopic.item.text }}</p>
    {% elif subtopic.content_type.model == 'file' %}
      {% if subtopic.item.file.url %}
        {% if subtopic.item.file.url|lower|slice:'-4:' == ".jpg" or subtopic.item.file.url|lower|slice:'-5:' == ".jpeg" or subtopic.item.file.url|lower|slice:'-4:' == ".png" %}
          <h5>Content Type: Image/PDF</h5>
          <object type="application/pdf" data="{{ subtopic.item.get_file_url }}" width="100%" height="100%" frameborder="0" scrolling="auto"></object>
        {% else %}
          <h5>Content Type: PDF</h5>
          <p>
            <a href="{{ subtopic.item.get_file_url }}" class="button">View File</a>
          </p>
          <iframe src="{{ subtopic.item.get_file_url }}" width="100%" height="500px" frameborder="0" scrolling="auto"></iframe>
          <p>Unable to display PDF file. <a href="{{ subtopic.item.get_file_url }}">Download</a> instead.</p>
        {% endif %}
      {% endif %}
    {% elif subtopic.content_type.model == 'video' %}
      <h5>Content Type: Video</h5>
      {% video subtopic.item.url "small" %}
    {% endif %}


    <hr>
 
    <a class="btn btn-success mt-4 mb-4" href="{% url 'course:update_subtopic' subtopic.topic.course.slug subtopic.topic.id subtopic.content_type.model subtopic.item.id %}">Update</a>
    <a class="btn btn-danger mt-4 mb-4" href="{% url 'course:delete_subtopic' subtopic.item.id %}">Delete</a>
    <a class="btn btn-primary mt-4 mb-4" href="{% url 'course:subtopic_list' subtopic.topic.course.slug subtopic.topic.id %}">Back</a>
  </div>
</div>

{% endblock content %}
