{% extends 'base.html' %}


{% block navbar %}
        {% include 'tutor/tutor_nav_bar.html' %}
{% endblock %} 

{% block content %}
<form method="POST" id="course-form">
  {% csrf_token %}
  <h1>Create Course</h1>
  {{ form.as_p }}
  {{ topic_formset.management_form }}
  <h1>Add Topic for the Course</h1>
  <div id="topic-formset-wrapper">
    {% for form in topic_formset %}
      {{ form.as_p }}
    {% endfor %}
  </div>
  <button type="button" id="add-topic-button">Add Topic</button>
  <input type="submit" value="Create">
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Hide the initial topic formset
  $('#topic-formset-wrapper').hide();

  // Add Topic button click event
  $('#add-topic-button').click(function() {
    // Clone the first form in the formset
    var topicForm = $('#id_topic-0').clone();

    // Update the formset index
    var formCount = $('#id_topic-TOTAL_FORMS').val();
    topicForm.html(topicForm.html().replace(/__prefix__/g, formCount));

    // Append the cloned form to the formset wrapper
    $('#topic-formset-wrapper').append(topicForm);

    // Increment the formset index
    $('#id_topic-TOTAL_FORMS').val(parseInt(formCount) + 1);
  });
});
</script>
{% endblock %}
