{% extends 'base.html' %}


{% block content %}

<div class="content-wrapper">

    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h1>Student detail</h1>
                    <h2>{{ topic }}</h2>
                    <p class="text-muted">Full Name: {{ student.user.first_name }} {{ student.user.last_name }}</small></p>
                    <p class="text-muted">Email: {{ student.user.email }} </small></p>
                    <p class="text-muted"><p>Last Login: {{ student.user.last_login }}</p> </small></p>
                    
                    <p class="text-muted">Is Verified: {{ student.is_verified }}</p>
                    <p class="text-muted"> Suspension status: {% if student.is_suspended %}Suspended{% else %} Not Suspended {% endif %} </p>

                    {% if student.picture %}
                        <img src="{{ student.picture.url }}" alt="Student Picture">
                    {% else %}
                        <p class="text-muted">No picture available.</p>
                    {% endif %}

                    <p class="text-muted">Track: {{ student.track }}</p>
                    <h4>Suspend student</h4>
                    <form method="POST">
                        {% csrf_token %}
                        <label for="is_suspended">Suspend/Unsuspended:</label>
                        <input type="checkbox" id="is_suspended" name="is_suspended" {% if student.is_suspended %}checked{% endif %} onchange="this.form.submit()">
                    </form>

                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-primary mt-4 mb-4" href="{% url 'course:tutor_dashboard_view' %}">Back</a>
    

    

</div>

{% endblock %}
