{% extends 'base.html' %}


{% block navbar %}
        {% include 'tutor/tutor_nav_bar.html' %}
{% endblock %} 
{% block content %}

<div class="content-wrapper">

    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h2>{{ tutor }}</h2>
                    <p class="text-muted">First Name: {{ tutor.first_name }} </small></p>
                    <p class="text-muted">Last Name: {{ tutor.last_name }} </small></p>
                    <p class="text-muted">Availability status: {{ tutor.email }} </small></p>

                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-warning mt-4 mb-4" href="{% url 'course:update_tutor' %}">Update</a>
    <a class="btn btn-primary mt-4 mb-4" href="">Back</a>
    

</div>

{% endblock %}
