{% extends 'base.html' %}



{% block navbar %}
        {% include 'tutor/tutor_nav_bar.html' %}
{% endblock %} 


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<style>
    .cardi {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
    }

    .cardi:hover {
  transform: scale(0.98, 0.98);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25),
              -2px -2px 5px 8px rgba(0,0,0,0.22);
  }
    
    .card .card-title {
        color: #010101;
        margin-bottom: 1.2rem;
        text-transform: capitalize;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .l-bg-cherry {
        background: linear-gradient(to right, #640904, #e1261c) !important;
        color: #fff;
    }

    
    .l-bg-blue-dark {
        background: linear-gradient(to right, #FFF6AB, #8AB138) !important;
        color: #fff;
    }
    
    .l-bg-green-dark {
        background: linear-gradient(to right, #BFFBBB, #679864) !important;
        color: #fff;
    }
    
    .l-bg-orange-dark {
        background: linear-gradient(to right, #a86008, #ffba56) !important;
        color: #fff;
    }
    
    .card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
        font-size: 150px;
    }
    
    .card .card-statistic-3 .card-icon {
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        color: #000;
        position: absolute;
        right: -5px;
        top: 20px;
        opacity: 0.1;
    }
    
    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }
    
    .l-bg-green {
        background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
        color: #fff;
    }
    
    .l-bg-orange {
        background: linear-gradient(to right, #f9900e, #ffba56) !important;
        color: #fff;
    }
    
    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }

    a:hover{
        text-decoration: none;
    }
</style> 



<div class="content-wrapper" style="background-color: #EBEBEC;">

    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold mb-3">{{request.user.tutor.track}} </h3>
            <h4 class="font-weight-bold">Welcome to your Dashboard, {{request.user.first_name}} </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 grid-margin stretch-card">
          <div class="cardi card-tale" style="background-color: #e1261c;">
            <div class="card-body d-flex justify-content-center align-items-center">
              <h1 class=" mb-2 display1"> <a style="color: inherit;" href="{% url 'course:course_list' %}">Courses</a></h1>
            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md grid-margin">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-0">All Students</p>
            <div class="table-responsive">
                <table class="table table-striped-lms table-hover">
                  <thead>
                    <tr>
                      <th>S/N</th>
                      <th>Last Name</th>
                      <th>First Name</th>
                      <th>Email</th>
                      <th>Track</th>
                      <th>Suspension Status</th>
                      <th>View</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for student in students %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{ student.user.last_name }}</td>
                        <td>{{ student.user.first_name }}</td>
                        <td><span>{{ student.user.email }}</span></td>
                        <td>{{ student.track.name }}</td>
                        <td class="font-weight-medium">
                          <a href="#" class="btn btn-sm btn-rounded {% if student.is_suspended %}btn-warning{% else %}btn-success{% endif %}">
                            {% if student.is_suspended %} Suspended  {% else %} Active {% endif %}
                          </a>
                        </td>
                        
                        <td style="padding: 0;">
                          <div class="row" style="margin: 0;">
                            <div class="col-md-2 mt-4" style="padding: 0;">
                              <div class="d-flex justify-content-start">
                                <a class="btn btn-sm btn-rounded btn-info mb-4 mr-2" href="{% url 'course:track_student_detail' pk=student.id %}" style="font-size: 12px; padding: 12px 20px;">View</a>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      {% empty %}
                        <tr>
                            <td colspan="6">No students registered under this track yet.</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}