{% extends 'home.html' %}

{% block navbar %}
  
{% endblock %}
  
{% block content %}
        <div class="container mt-5">
            <h1>Thank You for Applying!</h1>
            <p>Your application has been submitted successfully.</p>
            <p>Please check your email for any future notifications or updates.</p>

            <div class="mt-5 mb-5">
                <a href="{% url 'home_page' %}" class="btn btn-primary">Go Back Home</a>
            </div>
        </div>
{% endblock %}

{% block footer %}
    
{% endblock %}