{% extends 'base.html' %}

{% block content %}

<style>
    
</style>

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h1>Students</h1>
                </div>
            </div>
        </div>
    </div>
      

    <div>
        <ul>
            {% for student in students %}
        
            <li>
                <h3>{{ student.get_full_name}} ({{student.track}})</h3>
            
                <p><a class="btn btn-primary mr-2" href="{% url 'lms_admin:student_detail' pk=student.pk %}">Detail</a></p>    
            </li>
            <br>
            {% endfor %}
        
        </ul>

        <a class="btn btn-success mr-2 mt-5" href="{% url 'lms_admin:student_create' %}"> Create New Student</a>
    </div>    
</div>
{% endblock %}