{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    
    {% include 'nav_bar.html' %}

{% endblock %}

{% block content %}
<style>
    body{
    background: #f7f7ff;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}
</style>

<div class="content-wrapper">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                           
                                {% if student.picture %}
                                    <img class="rounded-circle p-1 bg-primary" width="110" src="{{ student.picture.url }}" alt="Student Picture" >
                                {% else %}
                                    <img class="rounded-circle p-1 bg-primary" width="110" src="{% static 'images/pi.png' %}" alt="Default Student Picture">
                                {% endif %}
                            
                            <div class="mt-3">
                                <h4>{{ student.get_full_name }}</h4>
                                <h6>{{ student.track }}</h6>
                                <h5>{{ student.cohort }}</h5>
                                <p class="text-muted font-size-sm">AFEX, Ibadan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">

                        <div class="row mb-3">

                            <div class="col-sm-3">
                                <h6 class="mb-0">Name:</h6>
                            </div>
                            <h6>{{ student.get_full_name }}</h6>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Gender:</h6>
                            </div>
                            <h6>{{ student.user.gender }}</h6>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Cohort:</h6>
                            </div>
                            <h6>{{ student.cohort }}</h6>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Track:</h6>
                            </div>
                            <h6>{{ student.track }}</h6>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone_number:</h6>
                            </div>
                            <h6>{{ student.user.phone_number }}</h6>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address:</h6>
                            </div>
                            <h6>{{ student.user.address }}</h6>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Verified:</h6>
                            </div>
                            <h6>{{ student.is_verified | yesno | title }}</h6>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Suspended:</h6>
                            </div>
                            <h6>{{ student.is_suspended | yesno | title }}</h6>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="btn btn-success mt-4 mb-4" href="{% url 'lms_admin:student_update' pk=student.pk %}">Update Student Details</a>
                    <a class="btn btn-danger mt-4 mb-4" href="{% url 'lms_admin:student_delete' pk=student.pk %}">Delete Student</a>
            
               </div>
            </div>
        </div>

        
    </div>
</div>
{% endblock %}
