{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    
    {% include 'nav_bar.html' %}

{% endblock %}

{% block content %}

<style>
    .cards-list {
        z-index: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
      
      .card {
        margin: 30px auto;
        width: 300px;
        height: 300px;
        border-radius: 40px;
        align-items: center;
      box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
        cursor: pointer;
        transition: 0.4s;
      }
      
      .card .card_image {
        width: inherit;
        height: inherit;
        border-radius: 40px;
      }
      
      .card .card_image img {
        width: inherit;
        height: inherit;
        border-radius: 40px;
        object-fit: cover;
      }
      
      .card .card_title {
        text-align: center;
        border-radius: 0px 0px 40px 40px;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 30px;
        margin-top: -80px;
        height: 40px;
      }
      
      .card:hover {
        transform: scale(0.9, 0.9);
        box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
          -5px -5px 30px 15px rgba(0,0,0,0.22);
      }
      
      .title-white {
        color: white;
      }
      
      .title-black {
        color: black;
      }

      a:hover {
        text-decoration: none;
      }
      
      @media all and (max-width: 500px) {
        .card-list {
          /* On small screens, we are no longer using row direction but column */
          flex-direction: column;
        }
      }
      
      .card {
        margin: 30px auto;
        width: 300px;
        height: 300px;
        border-radius: 40px;
        background-image: url("https://i.redd.it/b3esnz5ra34y.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
        transition: 0.4s;
      }
          
</style>

<div class="content-wrapper">

    <div class="row">
      <div class="col-md-12 grid-margin">
          <div class="row">
              <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h1>Tracks</h1>
              </div>
          </div>
      </div>
    </div>

    <div>
      <a class="btn btn-primary mr-2" href="{% url 'lms_admin:track_create' %}"> Create New Track </a>
    </div>

    <div class="cards-list mt-5">
    {% for track in tracks %}
    <a href="{% url 'lms_admin:track_detail' slug=track.slug %}">
        <div class="card">
            <div class="card_image"> 
                <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> 
            </div>
            <div class="card_title title-black">
                <p class="fs-2">{{ track.name }}</p>
            </div>
        </div>
    </a>
    {% empty %}
    <div class="row">
      <h5>There are currently no active tracks</h5>
    </div>
    {% endfor %}
    </div>

    
        

        
</div>
{% endblock %}