{% extends 'base.html' %}

{% block navbar %}
    
    {% include 'nav_bar.html' %}

{% endblock %}

{% block content %}

<div class="content-wrapper" style="background-color: #EBEBEC;">
    <h2>
        Tutor Information
    </h2>

    <h3 class="mt-5">Bio Data: </h3>
    <br>
    <div>
        <p><strong>First Name:</strong> {{ tutor.user.first_name }} </p>   
        <p><strong>Last Name:</strong> {{ tutor.user.last_name }} </p>   
        <p> <strong>Email:</strong> {{ tutor.user.email }}</p>
        <p> <strong>Track:</strong> {{ tutor.track.name }}</p>


        <a class="btn btn-primary mt-5" href="{% url 'lms_admin:tutor_update' pk=tutor.pk %}">Update Tutor Details</a>
        <a class="btn btn-danger mt-5" href="{% url 'lms_admin:tutor_confirm_delete' pk=tutor.pk %}">Delete Tutor</a>

    </div>
</div>

{% endblock %}