{% extends 'base.html'%}]
{%load static%}
{% block navbar %}
    
    {% include 'nav_bar.html' %}

{% endblock %}

{% block content %}
<style>
    body {
        margin-top: 20px;
        background-color: #f2f6fc;
        color: #69707a;
    }

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

    .card .card-header {
        font-weight: 500;
    }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control,
    .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>
<div class="content-wrapper" style="background-color: #EBEBEC;">
    <div class="container-xl">
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-md-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        {% if tutor.user.picture %}
                            <img class="rounded-circle p-1 bg-primary" width="110" src="{{ tutor.user.picture.url }}" alt="Tutor">
                        {% else %}
                            <img class="rounded-circle p-1 bg-primary" width="110" src="{% static 'images/pi.png' %}" alt="Default Tutor Picture">
                        {% endif %}
                        
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                      <form method="POST" class="forms-sample" enctype="multipart/form-data">
  
                        {% csrf_token %}
                        {% if form.errors %}
                          <div class="alert alert-danger">
                            <strong>Oops! There was an error:</strong>
                            <ul>
                              {% for field, error in form.errors.items %}
                                {% if field != NON_FIELD_ERRORS %}
                                  <li>{{ field }}: {{ error }}</li>
                                {% else %}
                                  <li>{{ error }}</li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name }}
                        </div>
    
                        <div class="form-group">
                            {{ form.last_name.label_tag }}
                            {{ form.last_name }}
                        </div>
    
                        <div class="form-group">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>

                        <div class="form-group">
                            {{ form.gender.label_tag }}
                            {{ form.gender }}
                        </div>
            
                        <div class="form-group">
                            {{ form.track.label_tag }}
                            {{ form.track }}
                        </div>
      
                        <div class="form-group">
                            {{ form.picture.label_tag }}
                            {{ form.picture }}
                        </div>
    
                        <div class="form-group">
                            {{ form.github_link.label_tag }}
                            {{ form.github_link }}
                        </div>
    
                        <div class="form-group">
                            {{ form.twitter_link.label_tag }}
                            {{ form.twitter_link }}
                        </div>
            
                        <div class="form-group">
                            {{ form.linkedin_link.label_tag }}
                            {{ form.linkedin_link }}
                        </div>
    
                        <div class="form-group">
                          {{ form.address.label_tag }}
                          {{ form.address }}
                      </div>


                        <input class="btn btn-primary mr-2" value="Submit" type="submit">
                        <a href="{% url 'lms_admin:tutor_list' %}" class="btn btn-danger">Cancel</a>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
