<!-- subtopic.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Student Subtopics</title>
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Subtopic List</h2>
        <ul>
            {% for subtopic in student_subtopics %}
                <li><a href="{% url 'student:student_subtopic_detail' student_course_slug=student_course.slug student_topic_slug=student_topic.slug %}">{{ subtopic.slug }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Main Content -->
    <div class="content">
        <!-- Content goes here -->
    </div>
</body>
</html>
